$theme-3: (
   container: (
       bg: #1345cc,
       color: #000,
       border-color: #000
   ),
   left: (
       bg: #80cbd8,
       color: #fff,
       height: 100%,
       width: 69%
   ),
   right: (
       bg: #02006e,
       color: #fff,
       height: 100%,
       width: 29%
   ),
   button: (
       bg: #00b37d,
       color: #fff
   )
);